---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/sections/Hero.astro";
---

<Layout
  title="Jorge Armando Ceras Cárdenas - Web Developer and DJ"
  description="Hi there! I'm Jorge Armando Ceras Cárdenas, a Mexican Web Developer and DJ."
>
  <main>
    <Hero />
  </main>
</Layout>
