<!-- Formas de codigo con colores para decoracion -->
<div class="container bottom-4 right-2">
  <div class="code-row">
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <div class="code-row">
    <div class="line bg-green-500 w-36"></div>
  </div>
  <div class="code-row">
    <div class="line bg-green-500 w-10"></div>
    <div class="line bg-blue-500 w-16"></div>
  </div>
  <div class="code-row">
    <div class="line bg-yellow-500 w-20"></div>
    <div class="line bg-gray-500 w-14"></div>
  </div>
  <div class="code-row">
    <div class="line bg-blue-500 w-16"></div>
    <div class="line bg-green-500 w-10"></div>
  </div>
  <div class="code-row">
    <div class="line bg-yellow-500 w-20"></div>
    <div class="line bg-gray-500 w-14"></div>
  </div>
  <div class="code-row">
    <div class="line bg-blue-500 w-16"></div>
    <div class="line bg-green-500 w-10"></div>
  </div>
  <div class="code-row">
    <div class="line bg-green-500 w-36"></div>
  </div>
</div>

<style>
  .container {
    width: fit-content;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .code-row {
    width: 100%;
    display: flex;
    justify-content: end;
    @apply gap-1;
  }

  .line {
    height: 5px;
    border-radius: 5px;
  }

  .tab {
    width: 5px;
  }
</style>
