<article class="grid place-items-center min-h-screen">
  <section>
    <h1 class="text-4xl font-bold text-center">
      Jorge Armando Ceras Cárdenas
      <strong class="block text-2xl font-normal">Web Developer &amp; DJ</strong>
    </h1>
  </section>
</article>
