header#th {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 68px;
  background: rgb(45 45 55);
  color: rgb(255 255 255);
  fill: rgb(255 255 255);
  line-height: 1.5;
  z-index: 100;
}

#th-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  max-width: 1200px;
  padding: 0 2rem;
  padding-top: 1rem;
  margin: 0 auto;
  box-sizing: border-box;
}

.th-logo {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-decoration: none;
  color: inherit;
  padding-bottom: 1rem;
  transition: color 200ms ease-in-out;
  -webkit-transition: color 200ms ease-in-out;
  -moz-transition: color 200ms ease-in-out;
  -ms-transition: color 200ms ease-in-out;
  -o-transition: color 200ms ease-in-out;
}

.th-logo:hover {
  color: rgb(255 255 255 / 50%);
}

#th-wrapper nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.th-nav {
  display: flex;
  align-items: center;
}

#th-nav {
  align-items: end;
}

.th-nav-list-item-link {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 0 0.75rem calc(1rem - 5px) 0.75rem;
  border-bottom: 5px solid transparent;
  transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
}

.th-nav-list-item-link.active {
  color: #fa7062;
  border-bottom: 5px solid #fa7062;
}


.th-nav-list-item-link:hover {
  color: #fa7062;
  border-bottom: 5px solid #fa7062;
}

#th-social {
  padding-bottom: 1rem;
}

.th-social-list {
  gap: 1rem;
}

.th-social-list-item-link {
  display: flex;
  transition: fill 200ms ease-in-out;
  -webkit-transition: fill 200ms ease-in-out;
  -moz-transition: fill 200ms ease-in-out;
  -ms-transition: fill 200ms ease-in-out;
  -o-transition: fill 200ms ease-in-out;
}

.th-social-list-item-link:hover {
  fill: rgb(255 255 255 / 80%);
}
